@import '../../style/variables';
.wrapper {
   position: relative;
   width: 100%;
   min-height: 100vh;
}
.head-wrap {
   width: 80%;
   margin: auto;
   padding-top: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.profile-block {
   width: 50%;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: start;
   gap: 40px;
   & .info-wrap {
      width: 80%;
   }
   & .bio {
      font-size: 14px;
      width: 80%;
      overflow-wrap: break-word;
      white-space: pre-line;
      line-height: 1.7;
      margin-top: 20px;
   }
   & .avatar-wrap {
      width: 20%;
      & img {
         width: 100%;
         aspect-ratio: 1/1;
         object-fit: cover;
         border-radius: 50%;
      }
   }
   & .link {
      margin-top: 10px;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 10px;
      color: $gray400;
      fill: $gray400;
      transition: 0.3s;
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 20px;
      &:hover {
         color: #111;
         fill: black;
      }
   }
   & .tag-wrap {
      margin-top: 20px;
   }
}
.btn-action {
   border: 1px solid $gray100;
   padding: 5px 10px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2px;
   z-index: 2;
   color: $gray400;
   transition: 0.3s;
   fill: $gray400;
   &:hover {
      border: 1px solid #111;
      color: #111;
      fill: black;
      background-color: white;
   }
   &:hover .overlay-icon {
      fill: #111;
   }
}
.actions {
   display: flex;
   justify-content: start;
   gap: 30px;
   align-items: center;
   & h1 {
      font-size: 40px;
      line-height: 1.2;
      font-weight: 500;
   }
}
.tab {
   padding-left: 20px;
   margin-top: 60px;
   border-bottom: 1px solid $gray100;
   background-color: white;
   z-index: 2;
   width: 100%;
   position: relative;
}
.hide-profile {
   position: absolute;
   right: 20px;
   top: 0;
   display: flex;
   justify-content: end;
   align-items: center;
   transition: 0.3s;
   gap: 10px;
   display: none;
   height: 100%;
   & img {
      border-radius: 50%;
      width: 10%;
   }
   & span {
      font-size: 14px;
   }
}
