@import '../../style/variables';
.wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-top: 100px;
   position: relative;
}

.body {
   max-width: 1320px;
   margin: auto;
   width: 100%;
   columns: 3;
   column-gap: 20px;
   row-gap: 20px;
   padding-top: 20px;
   padding-bottom: 100px;
   position: relative;
}
.colab-wrapper {
   border: 1px solid $gray100;
   padding: 20px;
   background-color: white;
   margin-bottom: 20px;
   position: relative;
}
.list-colab {
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 15px;
   margin-top: 20px;
}
.profile-wrapper {
   width: 100%;
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 10px;
   & .profile-info {
      display: flex;
      flex-direction: column;
      align-items: start;
   }
   & .profile-name {
      color: black;
      font-size: 15px;
      cursor: pointer;
   }
   & .profile-username {
      color: $gray400;
      font-size: 12px;
   }
   & .profile-img {
      width: 10%;
      aspect-ratio: 1/1;
      border-radius: 50%;
   }
}
.photo-wrap {
   position: relative;
   width: 100%;
   margin-bottom: 20px;
}

.tag-wrap {
   margin-top: 10px;
   display: flex;
   justify-content: start;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px;
   & .tag {
      background-color: $gray50;
      color: $gray400;
      cursor: pointer;
      font-size: 14px;
      padding: 3px 10px;
      transition: 0.3s;
      &:hover {
         background-color: $gray100;
         color: black;
      }
   }
}
.title {
   width: 1320px;
   margin: auto;
   font-size: 14px;
}
.no-data {
   width: 100%;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: start;
   & img{
      width: 10%;
   }
}
