.wrapper {
    position: relative;
    top: 110px;
    width: 100%;
 & .content-hero{
    width: 30%;
    left: 35%;  
    & div{
        display: none;
    }
 } 
}
.btn-submit{
    background-color: white;
    border-radius: 3px;
    font-size: 15px;
    line-height: 32px;
    padding: 6px 20px;
    margin-top: 20px;
}