@import '../../style/variables';
.wrapper {
   position: relative;
}
.banner {
   width: 100%;
   margin: auto;
   min-height: 100vh;
   position: relative;
   & .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
   }
   & .head {
      position: relative;
      top: 50px;
      width: 1320px;
      margin: auto;
      z-index: 3;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & .head-left {
         width: 50%;
      }
      & .user-block {
         margin-top: 10px;
         display: flex;
         justify-content: start;
         align-items: center;
         gap: 5px;
         & .img-wrap {
            width: 5%;
            & img {
               aspect-ratio: 1/1;
               border-radius: 50%;
            }
         }
         & .username {
            font-size: 14px;
            cursor: pointer;
         }
      }
      & .actions {
         display: flex;
         justify-content: start;
         align-items: center;
         gap: 10px;
      }
      & .btn-action {
         background-color: white;
         color: $gray400;
         fill: $gray400;
         transition: 0.3s;
         padding: 7px 10px;
         &:hover {
            color: black;
            fill: black;
            border: 1px solid black;
         }
      }
   }
}
.body {
   position: absolute;
   top: 200px;
}
