@import '../../style/variables';
.wrapper {
   position: relative;
   top: 200px;
   max-width: 1320px;
   margin: auto;
}
.body {
   position: relative;
   width: 100%;
   background: #fff;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   padding-bottom: 100px;
   position: relative;
   margin-top: 20px;
}
